<div class="courses" *ngIf="courseService.courses$ | async as courses">
  <ul class="courses__ul" *ngIf="courses.length; else noData">
    <app-course-item
      *ngFor="let course of courses"
      [course]="course"
      (deleteCourse)="showModal($event)"
    ></app-course-item>
  </ul>
</div>

<app-modal
  [showMe]="isDeleteModalShown"
  [message]="deleteModalMessage"
  (hideModal)="hideModal()"
  (agree)="deleteCourse($event)"
></app-modal>

<ng-template #noData>
  <h3 class="noData">No data. Feel free to add new course</h3>
</ng-template>
