<header class="header">
  <div class="header__container header__container_logo">
    <figure class="header__img-wrapper">
      <img class="header__logo-img" src="assets\img\angular-logo.png" alt="Logo">
    </figure>
    <h2 class="header__header">{{logoText}}</h2>
  </div>
  <div class="header__container header__container_courses">
    <p class="header__courses">Courses</p>
  </div>
  <div class="header__container header__container_login">
    <p>Login</p>
    <p>Logoff</p>
  </div>
</header>
