<div class="login-page">
  <form class="login-page__form" (ngSubmit)="onSubmit(); loginForm.reset();"  #loginForm="ngForm">
    <div class="login-page__line">
      <label for="login-username" class="login-page__label">Username</label>
      <input
        id="login-username"
        type="text"
        name="username"
        class="login-page__input"
        [(ngModel)]="username"
        placeholder="Enter username"
        required>
    </div>
    <div class="login-page__line">
      <label for="login-password" class="login-page__label">Password</label>
      <input
        id="login-password" type="text"
        class="login-page__input"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter password"
        required>
      <button type="submit" class="login-page__submit" [disabled]="loginForm.form.invalid">Add</button>
    </div>
  </form>
</div>
