<li class="course-item">
  <section class="course-item__info">
    <div class="course-item__header">
      <h3 class="course-item__title">{{course.title}}</h3>
      <p class="course-item__id">{{course.id}}</p>
      <p class="course-item__duration">{{getDuration()}}</p>
    </div>
    <div class="course-item__description">
      {{course.description}}
    </div>
  </section>
  <div class="course-item__controls">
    <button class="button course-item__button">Edit course</button>
    <button class="button course-item__button">Delete</button>
  </div>
</li>
