.course-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;

  &__info {

  }

  &__controls {
    text-align: center;
    flex-basis: 26%;
  }

  &__button {
    width: 85px;
    margin: 3px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }

  &__title {

  }

  &__id {
    text-align: center;
    width: 40px;
    font-size: 16px;
    font-weight: bold;
  }

  &__duration {

  }

  &__description {
    text-indent: 25px;
  }

  &__date {
    text-align-last: right;
    flex-basis: 35%;
  }
}

.fresh {
  border: 5px solid lawngreen;
}

.upcoming {
  border: 5px solid cornflowerblue;
}
